---
- name: Set Postfix configuration file templates
  when: item.value.enabled
  template:
    src: "{{ item.value.templatefile }}"
    dest: "{{ item.value.templatepath }}"
  with_dict: "{{ aspects_postfix_templates }}"
  notify: reload postfix
  tags:
  - aspects_postfix
  - aspects_postfix_templates

- name: Set Postfix transport template
  when: aspects_postfix_template_transport.enabled
  template:
    src: "{{ aspects_postfix_template_transport.templatefile }}"
    dest: "{{ aspects_postfix_template_transport.templatepath }}"
  notify: postmap transport
  tags:
  - aspects_postfix
  - aspects_postfix_templates